


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
 height: 100vh;
 background-color:var(--roxo) ;
 
}

body *{
     /*font family
     font-family: 'Poppins', sans-serif;
     font-family: 'Roboto', sans-serif;
     
     */ 
    
}

:root{
    --roxo:#290742 ;
    --roxo-darker:#170027;
    --roxo-darker-letras:#41056b;
    --roxo-lighter:#9E6DC2;
    --roxo-backgroung-img:rgba(151, 5, 255, 0.952);
    --branco:#FFFFFF;
    --branco-letras: #e6e1e1da;
    --branco-input:rgba(197, 193, 193, 0.541);
    --verde:#4FFF4B;
    --box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.20);
}


a{/*all links*/
    text-decoration: none;
    font-style: none;
 }

/*HEADER*/
header{
    background-color: var(--roxo);
    display: flex;
    
    align-items: center;
    justify-content: center;
   max-width: 1350px;
   
   width: 100%;
  
   
   margin: auto;

   padding-top: 30px;
   padding-bottom: 50px;
    
}

header h1{/*logo*/
    font-size: 3vh;
    color: var(--branco);
    font-family: Bebas Neue;
    padding: 0 10px;
    
    padding-left: 0;
    gap:10vw;/*distância entre lado A e B*/
    
}

header h1 span{/*ponto*/
    color:var(--verde);
   
}


header ul{/*home/sobre/categorias/contato*/
    list-style: none;
    display: flex;


    gap: 50px;
    margin: auto;
    padding: 20px;
   
    
    color: var(--branco-letras);
    font-family: roboto;
    font-size: 14px;
    font-weight: 400;

}

header ul li{/*home/sobre/categorias/contato*/
    cursor: pointer;
}

.ativo{/*color click ul li*/
    color: var(--branco);
    text-decoration: underline;
    font-weight: 600; 
}

form {
   margin-right: 40px;
    
    
}

input{/*search box*/
    padding: 8px 30px;
    background-color:var(--roxo-darker);

    border: none;
    outline: none;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    color: var(--branco-letras);
}



input[type="search"]::placeholder {/*search text placeholder*/
    font-family: Roboto;
    font-size: 11px;
    font-weight: 400;
    
    color: var(--branco-input);
  }

i.bi-search{/*icon search input*/
    color: var(--branco);
    background-color: var(--roxo-lighter);
    padding: 7px 20px;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;

    margin-right: 12px;

    cursor: pointer;

    overflow: hidden;
    max-height: 31px;
   
}

input[type="search"]::-webkit-search-cancel-button {/*'x' automático do form*/
    display: none;
}


.submitButton{
    width: 20px;
    height: 20px;

    border: none;
    background: transparent;
}



/*MAIN*/
.imagemColorida{
    background-color: var(--roxo-backgroung-img);
}

div img{/*filtros de imagem*/   
    opacity: 70%;   
}

.hoverBox{/*class para vinculada com html para usar o hover*/
    padding: 10px;
}



/*container 1*/

.container1{

    display: flex;
    
    

    background-color: var(--roxo);

    padding: 0 50px;
    padding-bottom: 30px;
    gap:10vw;/*distância entre lado A e B*/

    border-bottom: 3px solid var(--verde);/*linha verde*/

    justify-content:center ;
    
}


.container1 .ladoA {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    gap: 24px;    /*distância entre textos h1, p, link*/
}


.container1 .ladoB {
    max-width: 550px;
    border-radius: 10px;
    max-height: 360PX ;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    
}




.container1 .ladoA h1{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;

    color: var(--roxo-lighter);
}

.container1 .ladoA p{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;

    color: var(--branco-letras);

}

.container1 .ladoA a{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;

   
    cursor: pointer;

    color: var(--roxo-lighter);

    width:fit-content;

   
}

 i.bi-arrow-bar-right{

    position: absolute;
    transform: translateY(10%);

    color: var(--verde);
 }


/*container2*/

.container2{
    

    display: flex;
    
    justify-content: center;

    background-color: var(--branco);

    padding: 40px 50px;
    
    gap:10vw;/*distância entre lado A e B*/

   
   
}





.container2 .ladoA , .ladoB {/*tamanho das divs- largura*/
    max-width: 570px;
    display: flex;
    flex-direction: column;
    
}
.container2 .ladoA a, .ladoB a {/*distância entre textos h1, p, link*/
    display: flex;
    gap: 14px;    
    flex-direction: column;
    
}

.container2 .ladoA a div {/*div do filtro roxo*/
    max-height: 360px;
    overflow: hidden;
    border-radius: 10px;
    
}


.container2 .ladoA div img {
    max-width: 550px;
   
    
}

.grayLine{
   border: 1px solid var(--branco-letras);
}



.container2 .ladoA h2, .ladoB h2{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;

    color: var(--roxo-darker-letras);
}

.container2 .ladoA p, .ladoB p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;

    color: var(--roxo-darker);
  

}





/*container3*/

.container3{
    background-color: var(--branco);

    display: flex;
    
   justify-content: center;

    background-color: var(--branco);

    padding: 40px 50px;
    
    gap:5.5vw;/*distância entre lado A e B e C*/

   
}



.container3 .ladoA div, .container3 .ladoB div, .container3 .ladoC div{/*div do filtro roxo*/
    max-width: 350px;
   
    display: flex;
    flex-direction: column;

    max-height: 300px;
    overflow: hidden;
    border-radius: 10px;
    
    
}


.container3 .ladoA  a , .container3 .ladoB a , .container3 .ladoC a{
    display: flex;
    flex-direction: column;
    gap: 14px;    /*distância entre textos h1, p, link*/
    max-width: 350px;
}




.container3 .ladoA h2, .container3 .ladoB h2, .container3 .ladoC h2{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;

    color: var(--roxo-darker-letras);
}

.container3 .ladoA p, .container3 .ladoB p, .container3 .ladoC p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;

    color: var(--roxo-darker);
  

}

.container3 .ladoB a div{
   
    max-height: 234px;/*altura da imagem do meio container3*/
}

.container3 .ladoB a div img{
   
    max-height: 234px;/*altura da imagem do meio container3*/
}



/*HOVER*/


header ul li:hover{/*text header*/
   color: var(--branco);
    font-weight: 600;
    transition: 0.2s;
}
header ul li:not(hover){/*text header*/
   
     transition: 0.2s;
 }


.container1 .ladoA a:hover{/*veja mais*/
    color: var(--verde);
    transition:0.2s ;
}
.container1 .ladoA a:not(hover){/*veja mais*/
    transition:0.5s ;
}

.hoverBox:hover{/*amimação hover shadow box do main*/
    padding: 10px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    transition: 0.2s;
    cursor: pointer;
    transform: scale(1.02);
    
   
}
.hoverBox:not(hover){/*amimação hover shadow box do main*/
    transition: 0.8s;
   
}




/*MOBILE*/

@media screen and (max-width:600px) {
    .container1, .container2, .container3{
        display: flex;
        flex-direction: column;
       
    }




    input, i.bi-search{
        position: absolute;
        right: 0;
        margin-top: 10px;/*posicionamento search no header*/
        margin-right:46px; /*posicionamento search no header*/
        flex-wrap: nowrap;
    }

    input{/*search box*/
        width: 30vw ;/*comprimento da box search*/
       
        padding-left: 12px;/*espaço início texto placeholder*/
        padding-right: 38px;/*espaço fim texto placeholder*/
    
    }

    i.bi-search{/*icon search input*/
        padding: 8px;

    }


    form button{
        display: flex;
        
        
    }

    header{
        padding: 30px 0 30px 50px;
        
        
    }
    header ul{/*lista links barra nav*/
       
        gap: 15px;
     

        height: 9vh;

        padding: 10px 0 6vh 15px;
    }
    
  
   


    .container2 .ladoA a div img {/*largura/altura máxima da imagem dentro da div*/
        height: 100%;
        width: 110%;/*110% pra não ficar uma borda roxa sobrando em baixo*/
        max-width: 290px;
        max-height: 193px;
        
    }
   
    .container2 .ladoA a div  {/*altura máxima da div roxo*/
        width: 100%;
        height: 100%;
        max-width: 290px;
        max-height: 193px;
    }

    .container3 .ladoB a div img{/*largura/altura máxima da imagem dentro da div*/
        width: 100%;
        height: 100%;
        max-width: 290px;
        max-height: 193px;
    
    }

    .container3 .ladoB a div  {/*altura máxima da div roxo*/
        width: 100%;
        height: 100%;
        max-width: 290px;
        max-height: 193px;
    
    }


     .container2, .container3{
        gap: 8vh;/*distância entre as boxes (div-images e box)*/
        border: 2px solid var(--branco);/*linha dividindo container2 do container3. Usando o border para cobrir*/
        
    }

    .hoverBox{
       box-shadow: var(--box-shadow);    
       border-radius: 5px;
    }
}